<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xidian.reservation.dao.WxInformationMapper" >
  <resultMap id="BaseResultMap" type="com.xidian.reservation.entity.WxInformation" >
    <id column="reserve_id" property="reserveId" jdbcType="INTEGER" />
    <result column="consumer_id" property="consumerId" jdbcType="BIGINT" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    reserve_id, consumer_id, open_id, form_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_information
    where reserve_id = #{reserveId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_information
    where reserve_id = #{reserveId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xidian.reservation.entity.WxInformation" >
    insert into wx_information (reserve_id, consumer_id, open_id, 
      form_id)
    values (#{reserveId,jdbcType=INTEGER}, #{consumerId,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, 
      #{formId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xidian.reservation.entity.WxInformation" >
    insert into wx_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reserveId != null" >
        reserve_id,
      </if>
      <if test="consumerId != null" >
        consumer_id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reserveId != null" >
        #{reserveId,jdbcType=INTEGER},
      </if>
      <if test="consumerId != null" >
        #{consumerId,jdbcType=BIGINT},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xidian.reservation.entity.WxInformation" >
    update wx_information
    <set >
      <if test="consumerId != null" >
        consumer_id = #{consumerId,jdbcType=BIGINT},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
    </set>
    where reserve_id = #{reserveId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xidian.reservation.entity.WxInformation" >
    update wx_information
    set consumer_id = #{consumerId,jdbcType=BIGINT},
      open_id = #{openId,jdbcType=VARCHAR},
      form_id = #{formId,jdbcType=VARCHAR}
    where reserve_id = #{reserveId,jdbcType=INTEGER}
  </update>
</mapper>